/BinarySearch.class
/BubbleSort.class
/CheckSortedArrayOrNot.class
/CountZeros.class
/Dice.class
/Factorial.class
/LinearSearch.class
/MazeAllPath.class
/MazePath.class
/MergeSort.class
/Permutation.class
/PrintPattern.class
/RemoveCharacter.class
/ReverseDigits.class
/SelectionSort.class
/SubSequence.class
/fibonacci.class
/incrDcrN.class
/printNumbers.class
/sumOfDigits.class
