/FirstNegative.class
/CountAnagrams.class
/MaxOfAllSubArray.class
/LongestSubArrayWithSumK.class
/MaxConscutiveOne.class
/FruitIntoBasket.class
/SubstringwithAtmostKChars.class
/SubstringAll3Chars.class
/BinarySubArrayWithSum.class
/SubArrayKoddNums.class
/MiniumWindowSubString.class
/SubArrayKDiffIntegers.class
